body {
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
/* header style */
.header{
    width: 1600px;
    height: 808px;
    flex-shrink: 0;
    background-image: url('../images/banner/banner3.png');

    /* display: flex; */
    background-position:top;
    background-repeat: no-repeat;
}
.banner-title{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* width: 525px; */
    
}
.banner-para{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.banner-button{
    color: #005FAC;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 420px;
    padding: 3px;

}
.banner-content{
    /* align-items:flex-end; */
    padding: 216px 230px 364px 845px;
    /* margin-right: 230px;
    margin-bottom: 364px;
    margin-left: 845px;*/
}
.banner-para{
    margin-top: 20px;
    padding-left: 70px;
    margin-bottom: 20px;
}