body {
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
/* header style */
.header{
    width: 1600px;
    height: 808px;
    flex-shrink: 0;
    background-image: url('../images/banner/banner3.png');
    /* display: flex; */
    /* background-position:top; */
    background-repeat: no-repeat;
}
.banner-title{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* width: 525px; */
    
}
.banner-para{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.banner-button{
    color: #005FAC;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 420px;
    padding: 3px; 

}
.banner-content{
    /* align-items:flex-end; */
    padding: 216px 230px 364px 845px;
    /* margin-right: 230px;
    margin-bottom: 364px;
    margin-left: 845px;*/
}
.banner-para{
    margin-top: 20px;
    padding-left: 70px;
    margin-bottom: 20px;
}

/* Main style */
.fail{
    background: #FFF;
    width: 1600px;
    display: flex;
    gap: 30px;
}
.fail > img{
    padding-left: 277px;
    padding-top: 140px;
    
}
.fail-header{
    padding-left: 134px;
    padding-top: 370px;
    padding-right: 430px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 24px;
}
.fail-para{
    color: #444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-left: 134px;
    padding-right: 322px;
    text-align: left;
    margin-bottom: 16px;
}
.fail-list{
    color:#444343;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-left: 140px;
    gap: 8px;

}

/* plans section */
.plans{
    background: #FFF8F3;
    width: 1600px;
    margin-bottom: 130px;
}
.plans-head{
    color: #151414;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 70px;
    margin-bottom: 30px;
}
.plans-container{
    display: flex;
    gap: 50px;
    justify-content: space-around;
}
.web, .js, .smoke, .ecommerce{
    padding: 30px;
    border-radius: 5px;
    background: #FFF8F3;
    /* box-shadow: 0px 6px 50px 0px; */
}
.web-title{
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.js-title{
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.smoke-title{
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ecommerce-title{
    color: #151414;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.web-para{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.js-para{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.smoke-para{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ecommerce-para{
    color: #737272;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.mindset{
    margin-left: 230px;
    margin-right: 230px;
    width: 1140px;
    height: 300px;
    /* background-image: url(../images/gradient1.png); */
    background-image: url('../images/gradient1.png'), url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 130px;
}
.mindset-title{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 64px;
    padding-top: 59px;
    padding-right: 617px;
    /* padding-bottom: 147px; */
}
.mindset-button{
    color: #005FAC;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* margin-left: 420px; */
    padding: 3px; 
    margin-top: 28px;
    margin-left: 65px;
}

/* Footer Design */
footer{
    background: #151414;
    width: 1600px;
    height: 577px;
    border-radius: 3px;
    display: flex;
    /* justify-content: space-between; */
}
.section-title{
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 230px;
    padding-top: 130px;
}
.section-desc{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-left: 230px;
    padding-right: 885px;
}
.footer-email{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-left: 230px;
    
}
.footer-phone{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-left: 230px;
    margin-bottom: 10px;
}
.social-links{
    padding-left: 230px;
    gap: 5px;
}
.section-title2{
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 130px;
    padding-right: 130px; 
}

.footer-input{
    /* border-radius: 8px;
    border: 1px solid #FFF;
    width: 325px;
    height: 64px;
    flex-shrink: 0;
} */